.ani-fadeOut {
    -webkit-animation: fadeOut .7s ease both;
    animation: fadeOut .7s ease both;
}

.ani-fadeIn {
    -webkit-animation: fadeIn .7s ease both;
    animation: fadeIn .7s ease both;
}

@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

.page {
    background-color: #ed6f3a;
}

.page-1 .background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -90%;
}

.page-1 .slogan {
    width: 56%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48%;
    margin-top: -70%;
}

.page-1 .logo {
    background-color: #FFF;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: 58%;
}

.page-1 .button {
    width: 40%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 8%;
    margin-top: 46%;
}

.page-2 .woman {
    width: 72%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36%;
    margin-top: -48%;
}

.page-2 .slogan, .page-3 .slogan, .page-4 .slogan {
    width: 48%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24%;
    margin-top: -76%;
}

.page-2 .text {
    width: 18%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34%;
    margin-top: -45%;
    display: none;
}

.page-2 .blank {
    opacity: 0;
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -50%;
}

.page-2 .product {
    width: 16%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 28%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15%;
}

    .page-2 .product.selected {
        border: 2px solid #229B31;
    }


    .page-2 .product.product-1 {
        margin-left: -35%;
    }

    .page-2 .product.product-2 {
        margin-left: -17%;
    }

    .page-2 .product.product-3 {
        margin-left: 1%;
    }

    .page-2 .product.product-4 {
        margin-left: 19%;
    }

.page-2 .product-text {
    width: 18%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 46%;
}

    .page-2 .product-text.product-1 {
        margin-left: -36%;
    }

    .page-2 .product-text.product-2 {
        margin-left: -18%;
    }

    .page-2 .product-text.product-3 {
        margin-left: 0%;
    }

    .page-2 .product-text.product-4 {
        margin-left: 18%;
    }

.page-2 .progress {
    width: 80%;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: 64%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-2 .magic-wand {
    width: 10%;
    height: auto;
    position: absolute;
    left: 500%;
    top: 500%;
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

    .progress-bar.active {
        -webkit-animation: progress-bar-stripes 2s linear infinite;
        -o-animation: progress-bar-stripes 2s linear infinite;
        animation: progress-bar-stripes 2s linear infinite;
    }

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.page-3 .success-woman {
    width: 90%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -35%;
}

.page-3 .star-1 {
    width: 6%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18%;
    margin-top: -24%;
}

.page-3 .star-2 {
    width: 4%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 10%;
    margin-top: -19%;
}

.page-3 .star-3 {
    width: 6%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 14%;
    margin-top: -21%;
}

.page-4 .fail-dog {
    width: 90%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -35%;
}

.page-4 .play-again {
    width: 18%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -9%;
    margin-top: 38%;
}
